@charset "utf-8";
/* CSS Document */
/*Det her er en kommentar inden for css*/

/*Overskrifter*/
h1{
	font-family: "Times New Roman", Times, serif;
}

h2{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

h3{
	font-size: 16px;
}

h4{
	font-size: 20px;
	color: beige;
	font-family: "times New Roman", Times, serif;
}

/*Table indhold*/
table{
	border-collapse: collapse;
}


#animals th, #animals td{
	border:1px groove black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    max-width: 80%;
	padding: 2px;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}

td{
	vertical-align: top;
	width: 33%;
}

table td th{
	border: 1px solid black;
}



/*generelt*/
.center{
	text-align: center;
	margin: auto;
}

#header p{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}

p{
	margin-top: 10px;
	margin-left: 8px;
}
